<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="register-container">
    <div class="register-form-container">
        <h1>Регистрация</h1>
        <form action="#" method="post" class="register-form">
            <div class="form-group">
                <i class="fas fa-user"></i>
                <input type="text" id="username" name="username" placeholder="Логин" required>
                <div id="usernameError" style="color: red; font-size: 12px;"></div>
            </div>

            <div class="form-group">
                <i class="fas fa-id-card"></i>
                <input type="text" id="name" name="name" placeholder="Имя" required>
                <div id="nameError" style="color: red; font-size: 12px;"></div>
            </div>

            <div class="form-group">
                <i class="fas fa-birthday-cake"></i>
                <input type="number" id="age" name="age" placeholder="Возраст" required>
                <div id="ageError" style="color: red; font-size: 12px;"></div>
            </div>

            <div class="form-group">
                <i class="fas fa-envelope"></i>
                <input type="email" id="email" name="email" placeholder="Электронная почта" required>
                <div id="emailError" style="color: red; font-size: 12px;"></div>
            </div>

            <div class="form-group">
                <i class="fas fa-phone"></i>
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Номер телефона" required>
                <div id="phoneNumberError" style="color: red; font-size: 12px;"></div>
            </div>

            <div class="form-group">
                <i class="fas fa-lock"></i>
                <input type="password" id="password" name="password" placeholder="Пароль" required>
                <div id="passwordError" style="color: red; font-size: 12px;"></div>
            </div>

            <button type="submit" class="register-button">Зарегистрироваться</button>
        </form>
        <div class="login-link">
            Уже есть аккаунт? <a href="/login">Войти</a>
        </div>
    </div>
</div>

<script src="/js/register.js"></script>
</body>
</html>
