body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #66ccff, #ffcc66);
    background-attachment: fixed;
    min-height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 10px;
    background-color: transparent;
    align-items: center;
    margin-bottom: -20px;
    position: relative;
}

.header-left {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
    align-self: center;
}

.profile-icon {
    position: relative;
    cursor: pointer;
}

.profile-icon img {
    width: 90px;
    height: 60px;
    border-radius: 60%;
    vertical-align: middle;
}

.profile-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: -50px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
}

.profile-icon:hover .profile-menu {
    display: block;
}

.main-frame {
    display: flex;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    background-color: #fff;
    border-radius: 20px;
    height: 800px;
    position: relative;
}

.chats-list {
    width: 25%;
    background-color: #f5f5f5;
    padding: 25px;
    height: 100%;
    overflow-y: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
}

.chat-window {
    flex-grow: 1;
    padding: 0;
    background-color: #b4effb;
    border-left: 1px solid #ddd;
    height: 100%;
    overflow-y: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

#search-input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
}

#search-button {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #ff9900;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

#chats, #users {
    list-style: none;
    padding: 0;
    margin: 0;
}

#chats li, #users li {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#chats li:hover {
    background-color: #e0e0e0;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #e4e4e4;
    border-bottom: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

.chat-type-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

#chat-name {
    font-size: 18px;
}

.chat-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    min-width: 300px;
    max-width: 500px;
    text-align: left;
    display: none; /* Скрываем по умолчанию */
}

.chat-menu.active {
    display: block; /* Отображаем при добавлении класса */
}

.chat-menu p {
    margin-bottom: 10px;
}

.chat-messages-container, .user-profile-container {
    flex-grow: 1;
    padding: 20px;
    background-color: #b4effb;
    border-left: 1px solid #ddd;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
}

.chat-input {
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
}

#send-message-form-chat, #send-message-form-user {
    display: flex;
    width: 100%;
}

#new-message {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    flex-grow: 1;
}

#send-button {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #ff9900;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.chat-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    word-wrap: break-word;
    min-width: 10%; /* Минимальная ширина */
    max-width: 70%; /* Максимальная ширина */
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.chat-message.sent {
    background-color: #cff39f;
    margin-left: auto;
    color: #2c2c2c;
}

.chat-message.received {
    background-color: #d5d5d5;
    margin-right: auto;
    color: #2c2c2c;
}

.chat-message .sender-username {
    font-size: 0.9em;
    color: #403f3f;
    font-weight: bold;
    margin-bottom: 5px;
    word-break: break-word; /* Добавлено для переноса длинных имён */
}

.chat-message .message-text {
    word-break: break-word;
}

.chat-item, .user-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    list-style-type: none;
}

.chat-item:hover, .user-item:hover {
    background-color: #f0f0f0;
}

.user-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
}

